[mysqld]
server-id                  = 2
gtid-mode                  = ON
enforce-gtid-consistency   = ON
read-only                  = ON

# CRITICAL: single-threaded applier to maximize observable lag
replica-parallel-workers   = 1
replica-parallel-type      = LOGICAL_CLOCK
skip-log-bin
